@* Page Title *@
<h3 class="contentTitle">My Projects @title</h3>

@* Buttons for sorting *@
<section id="sort-section">

    <label class="sort-label">Sort by: </label>

    <section class="sort-btn-box">

        @* Default *@
        <section class="sort-btn-individual">
            <input type="radio"
                id="default"
                class="sort-btn"
                value="default"
                @onchange="SortProjects"
                checked="@isDefault">
            <label for="default">Default</label>
        </section>

        @* A-Z *@
        <section class="sort-btn-individual">
            <input type="radio"
                id="nameAsc"
                class="sort-btn"
                value="nameAsc"
                @onchange="SortProjects"
                checked="@isNameAsc">
            <label for="nameAsc">A-Z</label>
        </section>

        @* Z-A *@
        <section class="sort-btn-individual">
            <input type="radio"
                id="nameDesc"
                class="sort-btn"
                value="nameDesc"
                @onchange="SortProjects"
                checked="@isNameDesc">
            <label for="nameDesc">Z-A</label>
        </section>

    </section>
</section>

<hr />

@* Display sorted project items *@
<ul class="project-items-list">

    @* This iterates through the SortedProjectItems list & then displays all items *@
    @foreach (var item in SortedProjectItems)
    {
        <ProjectItemComponent 
            Link="@item.Link"
            Description="@item.Description"
            Name="@item.Name"></ProjectItemComponent>
    }
    <li style="text-align:center;"><a href="/projects">Back to Top</a></li>
</ul>

@code {
    // Default Title is blank
    public string? title;

    private string? currentSort;

    // This is a list of the different projects that will be displayed in my portfolio
    private List<ProjectItem>? ProjectItems = new List<ProjectItem>
    {
        new ProjectItem {
            Name = "Where Am I? - Geolocator & Weather",
            Link = "https://kobelemon.github.io/geolocator-app/",
            Description="Where Am I? - Geolocator & Weather is a website that uses the Geolocation API and the OpenWeather API to show your current location and the weather data for your current location. You can save this location data & weather data into localStorage so you can keep track of different locations and weathers. I wrote this website using HTML, CSS, and Javascript.",
            Language = "HTML/CSS/JavaScript"
        },
        new ProjectItem {
            Name = "Star Wars API - Demo App",
            Link = "https://kobelemon.github.io/swapi-demo-app/",
            Description="Star Wars API - Demo App is a website that uses SWAPI - The Star Wars API to find & display information about various characters, planets, etc. from the Star Wars universe. I wrote this website using HTML, CSS, and Javascript. NOTE: I am not affiliated with SWAPI - The Star Wars API or its author Paul Hallett, Disney, or Lucasfilms. I am not using this project for monetary gain. This project is soley meant to exercise and practice my coding skills. SWAPI License: https://github.com/Juriy/swapi?tab=BSD-3-Clause-1-ov-file#readme",
            Language = "HTML/CSS/JavaScript"
        },
        new ProjectItem {
            Name = "Bountiful Foods - Mock Website",
            Link = "/projects/bountiful-foods/index.html",
            Description="Bountiful Foods. I wrote this website using HTML, CSS, and Javascript. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae iste quasi, maiores porro esse fuga perferendis nemo quam, perferendis minus quidem, odit animi soluta dolorem excepturi adipisci tenetur optio aut perspiciatis numquam! Voluptates nostrum voluptatum tenetur corrupti delectus, natus obcaecati modi, velit enim, iure perspiciatis. Animi tempora beatae esse, aut debitis adipisci excepturi placeat repellat non obcaecati? Doloremque perferendis aliquam sit sapiente ratione a voluptas illo, nisi eligendi quos quaerat error veritatis expedita quis consequuntur.",
            Language = "HTML/CSS/JavaScript"
        },
        new ProjectItem {
            Name = "Chamber of Commerce - Mock Website",
            Link = "/projects/chamber/index.html",
            Description="Chamber of Commerce. I wrote this website using HTML, CSS, and Javascript. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae iste quasi, maiores porro esse fuga perferendis nemo quam, perferendis minus quidem, odit animi soluta dolorem excepturi adipisci tenetur optio aut perspiciatis numquam! Voluptates nostrum voluptatum tenetur corrupti delectus, natus obcaecati modi, velit enim, iure perspiciatis. Animi tempora beatae esse, aut debitis adipisci excepturi placeat repellat non obcaecati? Doloremque perferendis aliquam sit sapiente ratione a voluptas illo, nisi eligendi quos quaerat error veritatis expedita quis consequuntur.",
            Language = "HTML/CSS/JavaScript"
        },
        new ProjectItem {
            Name = "Custom List Maker",
            Link = "/projects/list-maker/index.html",
            Description="Custom List Maker. I wrote this website using HTML, CSS, and Javascript. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae iste quasi, maiores porro esse fuga perferendis nemo quam, perferendis minus quidem, odit animi soluta dolorem excepturi adipisci tenetur optio aut perspiciatis numquam! Voluptates nostrum voluptatum tenetur corrupti delectus, natus obcaecati modi, velit enim, iure perspiciatis. Animi tempora beatae esse, aut debitis adipisci excepturi placeat repellat non obcaecati? Doloremque perferendis aliquam sit sapiente ratione a voluptas illo, nisi eligendi quos quaerat error veritatis expedita quis consequuntur.",
            Language = "HTML/CSS/JavaScript"
        },
        new ProjectItem {
            Name = "CSS Keyframes Presentation",
            Link = "/projects/keyframes-presentation/index.html",
            Description="CSS Keyframes Presentation. I wrote this website using HTML, CSS, and Javascript. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae iste quasi, maiores porro esse fuga perferendis nemo quam, perferendis minus quidem, odit animi soluta dolorem excepturi adipisci tenetur optio aut perspiciatis numquam! Voluptates nostrum voluptatum tenetur corrupti delectus, natus obcaecati modi, velit enim, iure perspiciatis. Animi tempora beatae esse, aut debitis adipisci excepturi placeat repellat non obcaecati? Doloremque perferendis aliquam sit sapiente ratione a voluptas illo, nisi eligendi quos quaerat error veritatis expedita quis consequuntur.",
            Language = "HTML/CSS/JavaScript"
        },
    };
    
    private List<ProjectItem>? SortedProjectItems;

    protected override void OnInitialized()
    {
        SortedProjectItems = ProjectItems;
        currentSort = "default"; // Default sorting
    }

    // This function sorts projects according to user input
    private void SortProjects(ChangeEventArgs e)
    {
        currentSort = e.Value?.ToString();

        switch (currentSort)
        {
            // A-Z
            case "nameAsc":
                SortedProjectItems = ProjectItems?.OrderBy(p => p.Name).ToList();
                break;

            // Z-A
            case "nameDesc":
                SortedProjectItems = ProjectItems?.OrderByDescending(p => p.Name).ToList();
                break;

            // Default
            default:
                SortedProjectItems = ProjectItems;
                break;
        }
    }

    // Properties to track which sorting option is selected
    private bool isDefault => currentSort?.ToLower() == "default";
    private bool isNameAsc => currentSort?.ToLower() == "nameasc";
    private bool isNameDesc => currentSort?.ToLower() == "namedesc";
    private bool isLanguage => currentSort?.ToLower() == "language";

    public class ProjectItem
    {
        public string? Name { get; set; }

        public string? Link { get; set; }

        public string? Description { get; set; }

        public string? Language { get; set; }
    }
}